<app-header></app-header>

<div class="title">
  <h3>Ingredients</h3>
</div>
<div style="margin-left: 10%;margin-bottom: 10%">
  <div  class="division">
    <div>
      <h2>Egg Nog</h2>
      <img src="assets/img/Egg Nog.png" class="img-main">
    </div>


    <div style="background-color: #a1dbc3; border-radius: 2.5em;" class="container mt-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">

          <img src="assets/img/6 Egg Yolk.png" alt="Mojito" class="img-fluid img" style=" border: 4px solid #dfbdd8;
          background-color: #dfbdd8;" >
          <h6 class="mt-2">6 Egg Yolk</h6>

        </div>
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">

          <img src="assets/img/14 cup Sugar.png" alt="Mojito" class="img-fluid img" style="background-color: #c5dda2;  border: 4px solid #c5dda2;" >
          <h6 class="mt-2">1/4 cup Sugar</h6>

        </div>
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">
          <img  style=" border: 4px solid #dcb4a2; background-color: #dcb4a2;" src="assets/img/2 cups Milk.png" alt="Long Island Tea" class="img-fluid img">
          <h6 class="mt-2">2 cups Milk</h6>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">

          <img src="assets/img/12 cup Light rum.png" alt="Mojito" class="img-fluid img" style=" border: 4px solid #dfbdd8;
          background-color: #dfbdd8;" >
          <h6 class="mt-2">1/2 cup Light rum</h6>

        </div>
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">

          <img src="assets/img/Bourbon.png" alt="Mojito" class="img-fluid img" style="background-color: #c5dda2;  border: 4px solid #c5dda2;" >
          <h6 class="mt-2">1/2 cup Bourbo</h6>

        </div>
        <div class="col-lg-4 col-md-6 mb-4 class-center setting">
          <img  style=" border: 4px solid #dcb4a2; background-color: #dcb4a2;" src="assets/img/1 tsp Vanilla extract.png" alt="Long Island Tea" class="img-fluid img">
          <h6 class="mt-2">1 tsp Vanilla extract</h6>

        </div>
      </div>

    </div>


  </div>

</div>


<!--instructiones-->

<div class="instruction">
  <div>
    <h3>Instructions</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, odit praesentium! Velit culpa dolorum excepturi eligendi quaerat facilis sit eos at vitae necessitatibus, autem dolore doloribus veritatis. Repudiandae, neque adipisci?</p>
  </div>
  <!--columna-->
  <div style="text-align: center;padding: 10px;">
    <div style="margin-bottom: 3%;"> <img src="assets/img/USA.png" alt=""></div>

    <div  style="margin-bottom: 3%;"> <img src="assets/img/belgium.png" alt=""></div>
    <div> <img src="assets/img/spain.png" alt=""></div>
  </div>
</div>
<app-footer></app-footer>
