<div style="margin: auto; text-align: center;">
  <div class="rectangle"></div>
  <div><h6>Browse By Name</h6>
    <p>
      A / B / C / D / F /G / H / I / J / K / L / M / N / O / P / Q / R / S / T / U / V / W / X / Y / Z</p></div>

</div>
<footer class="custom-footer">

  <div class="container">
    <div style="display: grid; grid-template-columns: 30% 70%; ">
      <div style="margin: auto !important;">
        <div class="footer-titles">© 2023 TheCocktailDB.Proudly built in the U</div>

      </div>
      <div class="d-flex justify-content-end">
        <a>Missing</a>
        <a>About</a>
        <a>Fab</a>
        <a>Contact</a>
      </div>

    </div>
  </div>
</footer>
