

<div class="container-fluid main-div"   >
  <div class="row">
    <div class="col-3">
      <img src="assets/img/Logo.png" alt="Imagen Esquina Superior Izquierda" class="img-fluid">
    </div>
    <div class="col-6" style="    margin: auto; ">

      <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rewards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>


            </ul>

          </div>
        </div>
      </nav>
    </div>
    <div class="col-3 "  >
     <div style=" display: grid;grid-template-columns: 80% 20%;">
      <div class="container mt-4">
        <div class="custom-search">
          <img src="assets/img/search (1) 1.png" alt=" " class="search-icon">
          <input type="search" class="form-control" placeholder="Search">
        </div>
      </div>
       <div style="margin: auto;">
        <img src="assets/img/bookmarks.png" alt="" class="img-fluid float-right">
       </div>
     </div>
    </div>
  </div>
</div>


